mixin video(video)
    a(href=`/videos/${video._id}`).video-mixin 
        if(video.thumbnailUrl)
            img.thumb-image(src=`/${video.thumbnailUrl}`)
        else    
            div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=video.title 
            div.video-mixin__meta
                span #{video.owner.username} • 
                span #{video.meta.views} 회
